<!DOCTYPE html>
<html ng-app="TestApp">
<head>
    <script src="./target/scala-2.11/classes/angular.min.js"></script>
    <script type="text/javascript" src="./target/scala-2.11/scala-js-angular-example-opt.js"></script>
    <title>AngularJS example by using Scala.js</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>


<div ng-controller="SimpleController">
    <strong>First name:</strong> {{firstName}}<br />
    <strong>Last name:</strong> <span ng-bind="lastName"></span><br />
    <strong>Full name:</strong> {{getFullName()}}<br />
    <br />
    <label>Set the first name: <input type="text" ng-model="firstName"/></label><br />
    <label>Set the last name: <input type="text" ng-model="lastName"/></label>
</div>

<script type="text/javascript">
    Main();
</script>

</body>
</html>

